body {
    background-color: rgba(201, 255, 232, 0.68);
}
.sidebar {
    display: none;
}
.my-img-responsive {
    width: 100%;
    height: 100%;
}
@media (min-width: 768px) {
    .sidebar {
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: transparent;
    }
}
.slide-index {
    padding-left: 0;
    padding-right: 0;
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -15px;
}
.nav-sidebar > li > a:hover  {
    border-color: #0782C1;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a {
    border-radius: 0 20px 20px 0;
    font-size: 18px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
    cursor: default;
}

/*  Banner  */
.banner {
    max-height: 200px;
    background: url("../../img/bg-banner.png") repeat-x;
}
.banner > .container {
    height: 100%;
}


/* start navigation bar main */
.navbar-backend {
    /*background-color: #42d1aa;*/
    border-top: 3px rgb(0, 0, 0);
    background-image: -webkit-linear-gradient(top, #000077 0%, #222 100%);
    background-image:      -o-linear-gradient(top, #000077 0%, #222 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000077), to(#222));
    background-image:         linear-gradient(to bottom, #000077 0%, #222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000077', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
}
.navbar-backend .nav-pills > li > a {
    padding: 15px 30px;
    color: #ffffff;
    font-size: 18px;
}
.navbar-backend .nav-pills > li > a > .badge {
    color: #000077;
    background-color: #ffffa8;
}
.navbar-backend .nav > li > a:hover,
.navbar-backend .nav > li > a:focus {
    color: #FF8200;
    background-color: #000088;
}
.navbar-backend .nav > li.active > a {
    background-color: #0000aa;
}
    /* end navigation bar main */
.glyphicons {
    margin-left: 3px;
}
.glyphicons-new-window {
    content: url("../../img/glyphicons-152-new-window.png");
}
.glyphicons-new-window:hover {
    content: url("../../img/glyphicons-152-new-window-hover.png");
}
/*  End Banner  */

.w-100 {
    width: 100%;
}

/* images */
.cover-photo,
.illustration {
    width: 100%;
    border: 2px dashed #222222;
    background-color: #ffffff;
}
.cover-photo {
    max-height: 315px;
}
.illustration {
    min-height: 320px;
}
.body-dropzonejs {
    background-color: #e5e9ec;
}
/* end images */

.flex-center {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}
.page {
    font-size: 24px;
}

.div-add {
    margin-bottom: 20px;
    padding-left: 35px;
}
.div-add .img-add {
    width: 80px;
    cursor: pointer;
    float: left;
}
.num-row {
    height: 80px;
}
.num-row > h1 {
    margin: 0;
    padding: 20px 20px 20px 110px;
}




/*  table thai buddhist  */
table th {
    text-align: center;
    font-size: 18px;
}

table tbody tr td:first-child {
    text-align: center;
}


.alert > li {
    margin-left: 15px;
}



img.edit,
img.delete {
    cursor: pointer;
    margin: 3px;
}


.breadcrumb {
    margin-bottom: -10px;
}

.btn-green ,
.pager li > a{
    background-color: #a3ffb5;
}
.pager li.disabled a,
.pager li.disabled a:hover {
    background-color: #e5e5e5;
    border: 1px solid #dadada;
}
.pager .active {
    background-color: #049110;
    color: #FFFBD3;
}
.pager li > a:hover {
    border: 1px solid #00b81e;
    color: #000;
}
.pager li > a.active:hover {
    background-color: #049110;
    color: #FFFBD3;
}


.table-bordered {
    margin-bottom: 0;
}
.table-bordered thead ,
.table-bordered tfoot {
    background-color: rgba(0, 186, 37, 0.8);
    font-size: 18cm;
    color: #033c08;
}
.table-bordered>thead>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tbody>tr>td,
.table>thead:first-child>tr:first-child>th{
    border: 1px solid #222;
}
.table-bordered tbody tr:nth-child(even) {
    background-color: #c7ffd6;
}
.table-bordered tbody tr:nth-child(old) {
    background-color: #8ab2ce;
}
.table-bordered > tbody > tr > td:last-child {
    text-align: center;
    /*width: 105px;  !* 2 *!*/
    width: 145px;  /* 3 */
}
.table-bordered > tbody > tr > td:last-child form{
    display: inline-block;
}
.table-bordered > tbody > tr > td:last-child > a {
    text-decoration: none;
}


.show-data-table .row > .col-md-6 > a{
    float: left;
}
.show-data-table .row > .col-md-6 > a{
    float: left;
}



.content-block {
    text-indent: 40px;
    max-height: 135px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}

/* news */
.show-news {
    font-size: 16px;
    font-weight: bold;
}
.box-shadow {
    -webkit-box-shadow:  2px 2px 5px #FFFBD3;
    -moz-box-shadow:  2px 2px 5px #FFFBD3;
    box-shadow:  2px 2px 5px #201f2d;
}
.flex-container {
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*-webkit-align-items: center;*/
    /*align-items: center;*/
    display: table-cell;
}
.flex-item {
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/
}
















/* footer */
.footer{
    background-color: transparent;
    height: auto;
    position: static;
}
.footer .footer-left,
.footer .footer-medium,
.footer .footer-right,
.footer .footer-left > .col-md-4 ,
.footer .footer-left > .col-md-8 {
    /*display: -webkit-flex;*/
    -webkit-align-items: center;
    /*display: flex;*/
    align-items: center;
}
.footer .footer-left,
.footer .footer-medium,
.footer .footer-right {
    min-height: 141px;
}
.footer .footer-left {
    background-color: transparent;
    align-items: center;
    display: flex;
}
.footer .footer-left > .col-md-4 {
    float: left;
}
.footer .footer-left > .col-md-8 > label {
    margin-top: 34px;
}
.footer .footer-left .ft-img-logo {
    border-radius: 10px;
}
.footer .footer-medium {
    background-color: transparent;
    border:3px solid black;
    border-top-width: 0;
    border-bottom-width: 0;
    padding-left: 20px;
}
.footer .footer-medium  h3 {
    margin-top: 15px;
    font-family: font-Kanyanut;
    font-size: 24pt;
}
.footer .footer-right {
    background-color: transparent;
}
.footer .footer-right > span {
    -webkit-flex: 1;
    flex: 1;
}


@media (max-width: 767px) {
    .footer .footer-left .col-md-4 > img {
        width: 70px;
        height: 70px;
    }
    .footer .footer-left {
        padding: 0;
    }
    .footer .footer-right > img {
        display: none;
    }
    .footer .footer-left,
    .footer .footer-medium,
    .footer .footer-right {
        min-height: 50px;
        padding: 5px 15px;
        border:0 solid black;
        border-bottom-width: 1px;
    }
    .footer .footer-medium {
        border-left-width: 0;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .footer .footer-medium {
        border-right-width: 0;
    }
    .footer .footer-left .col-md-4 > img {
        width: 100px;
        height: 100px;
    }
    .footer .footer-left,
    .footer .footer-medium,
    .footer .footer-right {
        min-height: 70px;
    }
    .footer .footer-right > img {
        height: 40px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 1200px) {

}
/* end footer */



/* scroll bar style */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background: #00F -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%,
                        transparent 25%,
                        transparent 50%,
                        rgba(255, 255, 255, .2) 50%,
                        rgba(255, 255, 255, .2) 75%,
                        transparent 75%,
                        transparent);
}
/* end scroll bar style */
